/* variables */
:root {}

/* general */
html, body, main, h1, h2, h3, h4, h5, h6, p, figure, div {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	outline: none;
}

a,
a:hover {
	text-decoration: none;
}

ul {
	font-size: 16rem;
}

li {
	list-style-type: disclosure-closed;
}

.hidden {
	display: none;
}

/* body */
body {
	height: 100vh;
	display: grid;
	grid:
		'header header' 14% 
		'nav main' 72% 
		'footer footer' 12% 
		/ 15vw;
	gap: 1vh;
		/* background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0); */
	padding: 1vh;

}

header {
	grid-area: header;
	background-color: #ffed88;
}

nav {
	grid-area: nav;
	background-color: #ff7c7c;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: main;
	background-color: #dcfff5;
}

iframe {
	height: 100%;
	width: 98%;
	margin: 1%;
	border: 2px solid black;
	border-radius: 8px;
}

i {
	position: absolute;
	right: 2.5%;
	bottom: 16.5%;
}

footer {
	grid-area: footer;
	background-color: #7fffd4;
}

@media (max-width: 1710px) {}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 375px) {}