@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Langar&family=Open+Sans:wght@800&family=Press+Start+2P&display=swap');

:root {
	--main-font: 'Open Sans', sans-serif;
	--hanoi-font: 'Langar', cursive;
	--lig4-font: 'Audiowide', cursive;
}

html {
	font-size: 1px;
}

body {
	font-family: var(--main-font), 'Helvetica Neue', sans-serif;
	font-size: 16rem;
	font-weight: 700;
	line-height: 1.3;
	color: #222;
}

[data-font="tower-of-hanoi"] {
	font-family: var(--hanoi-font);
}

[data-font="lig-4"] {
	font-family: var(--lig4-font);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(90deg, dodgerblue, purple, red);
}