.form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 24vw;
}

.form-info {
  height: 3rem;
  display: flex;
  /* justify-content: center; */
}

.info {
  display: none;
}

.form__btn-play {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 1em;
  color: #ef6eae
}

.form__btn-play:hover {
  cursor: pointer;
}

.form__counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 2px solid ef6eae;
  background-color: #ef6eae;
  padding: 4px 0;
}

.form__counter-btn {
  background-color: #ef6eae;
  border: none;
  color: #fff;
}

input[type=number] {
  font-family: 'Langar', cursive;
  font-size: large;
  font-weight: 700;
  text-align: center;
  padding: 6px;
  border: none;
  background-color: transparent;
  color: #00000060;
  border: 2px solid #ef6eae;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: 0;
}

.winner {
  color:goldenrod;
  font-size: xx-large;
  padding: 10%;
  line-height: 1.5;
  text-align: center;
}

.text_gameplay {
  padding: 10%;
  line-height: 1.5;
}