body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.fa-question {
  position: absolute;
  top: 2.5%;
  right: 2%;
}

.tower-of-hanoi {
  display: flex;
  height: 60vh;
}

.hanoi-container {
  display: flex;
  flex-direction: column;
  width: 76vw;
}

.hanoi-container-columns {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.hanoi-columns {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  width: 30%;
} 

.base {
  width: 98%;
  height: 24px;
  margin: 0 auto;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(to right, #ffffff33, transparent),
  linear-gradient(
    #b27315, #966f33, #966f33 29%, #faddb0 14.5%, #faddb0 27.5%, #966f33 42%, #faddb0 43.5%, #d7b889 56.5%, #966f33 58%, #966f33 71%);
  }

.column {
  position: absolute;
  height: 94%;
  width: 16px;
  background: linear-gradient(to right, #d7b889, #b27315, #966f33);
  border-radius: 4px 4px 0 0;
  z-index: -1;
}

.disk {
  height: 10%;
  min-width: 20px;
  border-radius: 6px;
  border: 1px solid #00000020;
}

.disk:hover {
  filter: contrast(2);
}

.disk[draggable=true] {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}